.presentation {
    padding-top: 80px;
    padding-bottom: 80px;
    &__title {
        color: #436870;
        font-weight: 700;
        font-size: 46px;
        line-height: 124%;
        max-width: 483px;
    }
    &__action-link {
        padding-inline: 36.5px;
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        & > span {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }
    }
}
.tabs-list {
    &__item {
    }
    &__btn {
        background-color: #ffffffbf;
        backdrop-filter: blur(18px);
        color: #516f75;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        border-radius: $round-m;
        border: 1px solid #ffffffbf;
        padding: 10px 24px;
    }
}
