<section class="advantages">
    <div class="advantages__header">
        <div class="container">
            <h3 class="advantages__title">Дом комфорт класса</h3>
            <img
                src="img/house.png"
                alt="Изображение ЖК"
                class="advantages__main-image"
                width="813"
                height="831"
            />
            <div class="advantages__item advantages__item_structures advantage">
                <div class="advantage__header">
                    <img src="img/structures.png" alt="" width="126" height="126" />
                </div>
                <div class="advantage__body">
                    <p class="advantage__text advantage__text_short">
                        Современные фасадные конструкции
                    </p>
                </div>
            </div>
            <div class="advantages__item advantages__item_engineering advantage">
                <div class="advantage__header">
                    <img src="img/engineering.png" alt="" width="126" height="126" />
                </div>
                <div class="advantage__body">
                    <p class="advantage__text advantage__text_short">
                        Качественные инженерные системы
                    </p>
                </div>
            </div>
            <div class="advantages__item advantages__item_windows advantage">
                <div class="advantage__header">
                    <img src="img/windows.png" alt="" width="126" height="126" />
                </div>
                <div class="advantage__body">
                    <p class="advantage__text">Пластиковые окна с двухкамерным стеклопакетом</p>
                </div>
            </div>
            <span class="advantages__eye-icon">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#eye_icon"></use>
                </svg>
            </span>
            <span class="advantages__eye-icon">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#eye_icon"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="container">adv</div>
</section>
